<!DOCTYPE html>
<html ng-app="soi">

<head>
  <meta charset="utf-8" />
  <title>Sphere of Influence</title>
  <script>
    document.write('<base href="' + document.location + '" />');
  </script>
  <link rel="stylesheet" href="style.css" />
</head>

<body ng-controller="MainCtrl">
  <div soi-space barycenter-x="500" barycenter-y="9800" class="space fill">
    <div class="fill">
      <soi-orbit ng-repeat="tno in tnos" body="tno"></soi-orbit>
      <soi-celestial-object ng-repeat="tno in tnos" body="tno"></soi-celestial-object>
    </div>
  </div>
  <script data-require="jquery@2.0.3" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script data-require="underscore.js@1.5.2" data-semver="1.5.2" src="//cdn.jsdelivr.net/underscorejs/1.5.2/underscore-min.js"></script>
  <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.12/angular.js" data-semver="1.2.12"></script>
  <script src="app.js"></script>
  <script src="soiFunctionService.js"></script> 
  <script src="soiCelestialBodyService.js"></script>
  <script src="soiSpaceDirective.js"></script>
  <script src="soiCelestialObject.js"></script>
  <script src="soiOrbit.js"></script>
</body>

</html>
